<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create League</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/portal.css' %}">
</head>
<body>
    <div class="portal-container">
        <nav class="sidebar">
            <ul>
                <li><a href="{% url 'user_portal' %}">Dashboard</a></li>
                <li><a href="{% url 'portfolio_management' %}">Portfolio Management</a></li>
                <li><a href="{% url 'league' %}">Leagues</a></li>
                <li><a href="{% url 'matchups' %}">Matchups</a></li>
                <li><a href="#">Rules</a></li>
            </ul>
        </nav>
        <div class="main-content">
            <header>
                <div class="header-content">
                    <h1>Create League</h1>
                    <a href="{% url 'logout' %}" class="logout-button">Log Out</a>
                </div>
            </header>
            <section>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn">Create League</button>
                </form>
            </section>
        </div>
    </div>
</body>
</html>
